.image-uploader{
    display: flex;
    width:100%;
    box-sizing: border-box;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    background: #FFF;
    height: 32vw;
    >view{
      display:inline-block;
    }
    .upload-img{
      width:30vw;
      height:30vw;
      flex-shrink: 0;
      background:#F5F6FA;
      color:#888;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size:0.8rem;
      margin-right:2vw;
      >text:last-child{
        font-size:0.7rem;
      } 
      >p-icon{
        font-size:2rem;
      }
    }
    .preview-image{
      display: flex;
      align-items: center;
      height:30vw;
      >view{
        position: relative;
        width:30vw;
        height:30vw;
        background:#F5F6FA;
        margin-right:2vw;
        .main-img{
          width:30vw;
          height:30vw;
        }
        .operation-btn{
          position: absolute;
          right:0;
          top:0;
          font-size:1.6rem;
        }
      }
    }
  }